In [5]:
import pandas as pd
df = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans.csv')

In [6]:
df.head()

,total_credit_utilized,installment,grade,state,issue_date,application_time,accounts,y,vector_feature,non_decimal_feature,sentence_feature
0,38767,652.53,C,NJ,16-Apr-18,28:43.3,"{""current_delinq"":0,""current_installment"":2,""o...",0,"[3.03, 5.92, 0.95, 7.29, 3.68]",0b11011001,배터리 잔량 부족
1,4321,167.54,C,HI,13-Feb-18,43:08.5,"{""current_delinq"":0,""current_installment"":0,""o...",0,"[4.1, 1.11, 4.34, 3.13, 6.4]",0b1000110001,센서 값 정상 범위
2,16000,71.40,D,WI,23-Mar-18,44:08.2,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[8.17, 4.8, 4.53, 9.54, 6.86]",0x2f,정기 점검 완료
3,4997,664.19,A,PA,09-Jan-18,32:42.6,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[1.83, 4.44, 5.1, 7.02, 6.71]",0x124,모터 온도 상승 경고
4,52722,786.87,C,CA,08-Apr-18,33:13.3,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[2.54, 6.9, 5.92, 1.53, 7.17]",0xe0,정기 점검 완료

In [7]:
df['sentence_feature']

0         배터리 잔량 부족
1        센서 값 정상 범위
2          정기 점검 완료
3       모터 온도 상승 경고
4          정기 점검 완료
           ...
9995    시스템 업데이트 필요
9996    초기화 작업 진행 중
9997      데이터 처리 성공
9998       정기 점검 완료
9999     분석 보고서 생성됨
Name: sentence_feature, Length: 10000, dtype: object

In [ ]:
# import pandas as pd
# df_ori = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans_2024.csv',encoding='utf-8')
# df = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans.csv',encoding='cp949')
# df['application_time']=df_ori['application_time']
# df.to_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans.csv',index=False)

In [7]:
df_ori.head()

,total_credit_utilized,installment,grade,state,issue_date,application_time,accounts,y
0,38767,652.53,C,NJ,16-Apr-18,13:28:43.3,"{""current_delinq"":0,""current_installment"":2,""o...",0
1,4321,167.54,C,HI,13-Feb-18,10:43:08.5,"{""current_delinq"":0,""current_installment"":0,""o...",0
2,16000,71.40,D,WI,23-Mar-18,15:44:08.2,"{""current_delinq"":0,""current_installment"":1,""o...",0
3,4997,664.19,A,PA,09-Jan-18,11:32:42.6,"{""current_delinq"":0,""current_installment"":1,""o...",0
4,52722,786.87,C,CA,08-Apr-18,10:33:13.3,"{""current_delinq"":0,""current_installment"":1,""o...",0

In [1]:
import pandas as pd
df = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\augmented_dataset_v2.csv',encoding='utf-8')

In [2]:
df.head()

,total_credit_utilized,installment,grade,state,issue_date,application_time,accounts,y,vector_feature,non_decimal_feature,sentence_feature
0,38767,652.53,C,NJ,16-Apr-18,28:43.3,"{""current_delinq"":0,""current_installment"":2,""o...",0,"[3.03, 5.92, 0.95, 7.29, 3.68]",0b11011001,배터리 잔량 부족
1,4321,167.54,C,HI,13-Feb-18,43:08.5,"{""current_delinq"":0,""current_installment"":0,""o...",0,"[4.1, 1.11, 4.34, 3.13, 6.4]",0b1000110001,센서 값 정상 범위
2,16000,71.40,D,WI,23-Mar-18,44:08.2,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[8.17, 4.8, 4.53, 9.54, 6.86]",0x2f,정기 점검 완료
3,4997,664.19,A,PA,09-Jan-18,32:42.6,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[1.83, 4.44, 5.1, 7.02, 6.71]",0x124,모터 온도 상승 경고
4,52722,786.87,C,CA,08-Apr-18,33:13.3,"{""current_delinq"":0,""current_installment"":1,""o...",0,"[2.54, 6.9, 5.92, 1.53, 7.17]",0xe0,정기 점검 완료

In [ ]:
# y 컬럼을 맨 뒤로 이동
y_column = df.pop("y")
df["y"] = y_column

# 결과 확인
print(df.head())

df = df.to_csv(r"D:\task_folder\sources\IND_prep\data\loans\augmented_dataset_v2.csv", index=False)

   total_credit_utilized  installment grade state issue_date application_time  \
0                  38767       652.53     C    NJ  16-Apr-18          28:43.3
1                   4321       167.54     C    HI  13-Feb-18          43:08.5
2                  16000        71.40     D    WI  23-Mar-18          44:08.2
3                   4997       664.19     A    PA  09-Jan-18          32:42.6
4                  52722       786.87     C    CA  08-Apr-18          33:13.3

                                            accounts  \
0  {"current_delinq":0,"current_installment":2,"o...
1  {"current_delinq":0,"current_installment":0,"o...
2  {"current_delinq":0,"current_installment":1,"o...
3  {"current_delinq":0,"current_installment":1,"o...
4  {"current_delinq":0,"current_installment":1,"o...

                   vector_feature non_decimal_feature sentence_feature  y
0  [3.03, 5.92, 0.95, 7.29, 3.68]          0b11011001        배터리 잔량 부족  0
1    [4.1, 1.11, 4.34, 3.13, 6.4]        0b1000110001       센서 값 정상 범위  0
2   [8.17, 4.8, 4.53, 9.54, 6.86]                0x2f         정기 점검 완료  0
3   [1.83, 4.44, 5.1, 7.02, 6.71]               0x124      모터 온도 상승 경고  0
4   [2.54, 6.9, 5.92, 1.53, 7.17]                0xe0         정기 점검 완료  0

In [9]:
df = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans.csv')

In [10]:
df_ori = pd.read_csv(r'D:\task_folder\sources\IND_prep\data\loans\loans_2024.csv')

In [13]:
df.head()

,total_credit_utilized,installment,grade,state,issue_date,application_time,accounts,vector_feature,non_decimal_feature,sentence_feature,y
0,38767,652.53,C,NJ,16-Apr-18,13:28:43.3,"{""current_delinq"":0,""current_installment"":2,""o...","[3.03, 5.92, 0.95, 7.29, 3.68]",0b11011001,배터리 잔량 부족,0
1,4321,167.54,C,HI,13-Feb-18,10:43:08.5,"{""current_delinq"":0,""current_installment"":0,""o...","[4.1, 1.11, 4.34, 3.13, 6.4]",0b1000110001,센서 값 정상 범위,0
2,16000,71.40,D,WI,23-Mar-18,15:44:08.2,"{""current_delinq"":0,""current_installment"":1,""o...","[8.17, 4.8, 4.53, 9.54, 6.86]",0x2f,정기 점검 완료,0
3,4997,664.19,A,PA,09-Jan-18,11:32:42.6,"{""current_delinq"":0,""current_installment"":1,""o...","[1.83, 4.44, 5.1, 7.02, 6.71]",0x124,모터 온도 상승 경고,0
4,52722,786.87,C,CA,08-Apr-18,10:33:13.3,"{""current_delinq"":0,""current_installment"":1,""o...","[2.54, 6.9, 5.92, 1.53, 7.17]",0xe0,정기 점검 완료,0

In [14]:
a = df.to_csv(r"D:\task_folder\sources\IND_prep\data\loans\augmented_dataset_v2.csv", index=False)

In [14]:
from sentence_transformers import SentenceTransformer
# 새로운 함수: 문장형 → 벡터형
def sentence_to_vector(df):
    df = df.copy()
    cols = 'sentence_feature'
    if not cols or pd.isna(cols):
        return df
    model_name = 'sentence-transformers/all-MiniLM-L6-v2'
    model = SentenceTransformer(model_name)
    for col in cols:
        sentences = df[col].fillna('').tolist()
        embeddings = model.encode(sentences, show_progress_bar=False)
        # 벡터를 새로운 컬럼으로 추가
        for i in range(embeddings.shape[1]):
            df[f'{col}_vec_{i}'] = embeddings[:, i]
        df.drop(columns=[col], inplace=True)
    return df[cols]

In [2]:
# 소수형을 정수형으로
def truncate_to_integer(series):
    # 모든 값이 1보다 클 때까지 10을 곱함
    while (series < 1).any():
        series *= 10
    
    # 소수점 이하 잘라내고 정수로 변환
    truncated_series = series.astype(int)
    
    # 원본 값과 변환된 값의 관계 저장(XAI 필요하면 사용)
    #value_map = pd.Series(truncated_series.values, index=series.values)
    
    return truncated_series

# 정수형의 1의 자리를 버림
def truncate_to_ten(series):
    series /= 10
    # 소수점 이하 잘라내고 정수로 변환
    truncated_series = series.astype(int)
    truncated_series *= 10
    # 원본 값과 변환된 값의 관계 저장(XAI 필요하면 사용)
    #value_map = pd.Series(truncated_series.values, index=series.values)
    
    return truncated_series

In [8]:
a=df.columns[0]
b=df.columns[1]

In [ ]:
truncate_to_integer(df[a])